{#
  Variables
    - items
    - leadCounts
    - page
    - limit
#}
{# Check to see if the entire page should be displayed or just main content #}
{% set isIndex = 'index' == tmpl ? true : false %}
{% set tmpl = 'list' %}
{% extends isIndex ? '@MauticCore/Default/content.html.twig' : '@MauticCore/Default/raw_output.html.twig' %}

{% block mauticContent %}leadlist{% endblock %}

{% block headerTitle %}{{ 'mautic.lead.list.header.index'|trans }}{% endblock %}

{% block content %}
  {% set listCommand = 'mautic.lead.lead.searchcommand.list'|trans %}

  {% if isIndex %}
  <div class="row mb-lg mt-lg">
    <div class="col-md-3">
      {% include '@MauticCore/Components/card.html.twig' with {
        'type': 'default',
        'aspectRatio': '4:3',
        'ctaType': 'local',
        'image': {
          'src': 'app/bundles/LeadBundle/Resources/views/List/clem-onojeghuo-tca2Hfz1cvY-unsplash.jpg',
          'alt': 'Image alt'
        },
        'href': '#',
        'heading': 'This is a header',
        'copy': 'This is a copy',
        'eyebrow': 'This is an eyebrow',
      } %}
    </div>
    <div class="col-md-3">
      {% include '@MauticCore/Components/card.html.twig' with {
        'type': 'default',
        'aspectRatio': '4:3',
        'ctaType': 'new tab',
        'href': '#',
        'heading': 'Something different',
        'copy': 'Test copy',
        'eyebrow': 'Eyebrow',
      } %}
    </div>
    <div class="col-md-3">
      {% include '@MauticCore/Components/card.html.twig' with {
        'type': 'pictogram',
        'aspectRatio': '4:3',
        'ctaType': 'local',
        'image': {
          'src': 'app/bundles/LeadBundle/Resources/views/List/clem-onojeghuo-tca2Hfz1cvY-unsplash.jpg',
          'alt': 'Image alt'
        },
        'href': '#',
        'heading': 'This is a header',
        'copy': 'This is a copy',
        'eyebrow': 'This is an eyebrow',
        'pictogram': 'ad-tech'
      } %}
    </div>
    <div class="col-md-3">
      {% include '@MauticCore/Components/card.html.twig' with {
        'type': 'static',
        'cta': {
          'label': 'Something differenta',
          'href': '#'
        },
        'heading': 'Something different',
        'copy': 'Test copy',
        'eyebrow': 'Eyebrow'
      } %}
    </div>
    <div class="col-md-3">
      {% include '@MauticCore/Components/card.html.twig' with {
        'type': 'link',
        'ctaType': 'local',
        'href': '#',
        'heading': 'This is a header',
        'copy': 'This is a copy',
        
      } %}
    </div>
    <div class="col-md-3">
      {% include '@MauticCore/Components/card.html.twig' with {
        'type': 'logo',
        'ctaType': 'local',
        'href': '#',
        'copy': 'This is a copy',
        'eyebrow': 'This is an eyebrow',
        'image': {
          'src': 'app/bundles/LeadBundle/Resources/views/List/clem-onojeghuo-tca2Hfz1cvY-unsplash.jpg',
          'alt': 'Image alt'
        }
      } %}
    </div>
    <div class="col-md-12">
      {% include '@MauticCore/Components/card-in-card.html.twig' with {
        'type': 'default',
        'ctaType': 'local',
        'image': {
          'src': 'app/bundles/LeadBundle/Resources/views/List/clem-onojeghuo-tca2Hfz1cvY-unsplash.jpg',
          'alt': 'Image alt'
        },
        'href': '#',
        'heading': 'This is a header',
        'copy': 'This is a copy',
        'eyebrow': 'This is an eyebrow',
      } %}
    </div>
    </div>
    
    <div id="page-list-wrapper" class="{% if items|length > 0 or searchValue is not empty %}panel {% endif %}panel-default">
      {{- include('@MauticCore/Helper/list_toolbar.html.twig', {
        'searchValue': searchValue,
        'action': currentRoute,
        'filters': filters|default([]),
        'page_actions': {
            'templateButtons': {'new': permissions[constant('Mautic\\LeadBundle\\Security\\Permissions\\LeadPermissions::LISTS_CREATE')]},
            'routeBase': 'segment',
            'langVar': 'lead.list',
            'tooltip': 'mautic.lead.lead.segment.add.help',
        },
        'bulk_actions': {
          'langVar': 'lead.list',
          'routeBase': 'segment',
          'templateButtons': {
              'delete': permissions['lead:lists:deleteother'],
          },
        },
        'quickFilters': [
            {
                'search': 'mautic.core.searchcommand.ismine',
                'label': 'mautic.core.searchcommand.ismine.label',
                'tooltip': 'mautic.core.searchcommand.ismine.description',
                'icon': 'ri-user-line'
            },
            {
                'search': 'mautic.core.searchcommand.ispublished',
                'label': 'mautic.core.form.active',
                'tooltip': 'mautic.core.search.quickfilter.is_published',
                'icon': 'ri-check-line'
            },
            {
                'search': 'mautic.core.searchcommand.isunpublished',
                'label': 'mautic.core.form.inactive',
                'tooltip': 'mautic.core.search.quickfilter.is_unpublished',
                'icon': 'ri-close-line'
            }
        ]
    }) -}}
    <div class="page-list">
  {% endif %}

  {{ include('@MauticLead/List/_list.html.twig') }}

  {% if isIndex %}
        </div>
    </div>
    {{ include('@MauticCore/Modules/protip.html.twig', {
      tip: random(['mautic.protip.segments.dynamic', 'mautic.protip.segments.test'])
  }) }}
  {% endif %}
{% endblock %}
