{#
  Variables
    - type: 'default', 'static', 'logo', 'link', 'pictogram', 'card-in-card'
    - gridMode
    - cardsPerRow
    - cardSectionOffset
    - cards
#}
<div class="card-group" grid-mode="{{ type == 'card-in-card' ? 'condensed' : gridMode|default('default') }}" style="--card-group--cards-in-row: {{ type == 'card-in-card' ? 3 : cardsPerRow|default(3) }};">
    {% if cardSectionOffset is defined and cardSectionOffset %}
        <div class="card-group__item"></div>
    {% endif %}
    {% for card in cards %}
        <div class="card-group__item">
            {% if type == 'card-in-card' and loop.first %}
                {% include '@MauticCore/Components/card-in-card.html.twig' with card %}
            {% else %}
                {% include '@MauticCore/Components/card.html.twig' with card %}
            {% endif %}
        </div>
    {% endfor %}
</div>
