{#
  Variables
    - content
    - className
    - button
#}

<div class="tile {{ className|default('') }}" id="tile-{{ random() }}">
    {{ content|raw }}

    {% if button is defined %}
    <div class="tile__button-wrapper mt-md">
        {% set button = button %}
        {% if button.variant is not defined or button.variant != 'link' %}
            {% set button = button|merge({'variant': 'tertiary', 'wide': true}) %}
        {% endif %}
        {% include '@MauticCore/Components/button.html.twig' with {'buttons': [button]} %}
    </div>
    {% endif %}
</div>
