{% for tile in tiles %}
    <div class="tile" id="tile-{{ loop.index }}">
        {{ tile.content|raw }}

        {% if tile.button is defined %}
        <div class="tile__button-wrapper mt-md">
            {% if tile.button.variant is not defined or tile.button.variant != 'link' %}
                {% set button = tile.button|merge({'variant': 'tertiary', 'wide': true}) %}
            {% else %}
                {% set button = tile.button %}
            {% endif %}

            {% include '@MauticCore/Helper/button.html.twig' with {'buttons': [button]} %}
        </div>
        {% endif %}
    </div>
{% endfor %}
