<div class="progress mt-md" style="height: 50px;">
    <div class="progress-bar progress-bar-primary progress-bar-striped active"
         role="progressbar"
         style="width: {{ progress }}%; height: 50px;"
         aria-valuenow="{{ progress }}"
         aria-valuemin="0"
         aria-valuemax="100">
        <span class="sr-only">{{ progress }}%</span>
    </div>
</div>
